<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component
        Id="BridgeAgentServiceComponent"
        Guid="4BC247D5-F406-40A6-AA1D-CD8A22CEF8A6"
        Win64="yes">
        <File
          Id="BridgeAgentServiceExecutable"
          Source="..\..\bridge-agent-service.exe"
          KeyPath="yes"
          Checksum="yes" />
        <ServiceInstall
          Id="BridgeAgentServiceInstall"
          Name="BridgeAgent"
          DisplayName="Baijimu Bridge Agent"
          Description="Keeps authorized Baijimu device capabilities connected when the desktop client is not running."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Arguments="--config &quot;[BridgeAgentDataDir]agent-config.json&quot;"
          Vital="yes">
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="5"
            ResetPeriodInDays="1" />
        </ServiceInstall>
        <ServiceControl
          Id="BridgeAgentServiceControl"
          Name="BridgeAgent"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="BaijimuProgramDataDir" Name="Baijimu">
          <Directory Id="BridgeAgentDataDir" Name="BridgeAgent">
            <Component
              Id="BridgeAgentDataDirectoryComponent"
              Guid="C2894A83-0BF7-5F35-B966-1E39A4E0A3C5"
              Win64="yes">
              <CreateFolder>
                <util:PermissionEx
                  User="Users"
                  Domain="BUILTIN"
                  GenericRead="yes"
                  GenericWrite="yes"
                  Delete="yes"
                  DeleteChild="yes"
                  Traverse="yes" />
              </CreateFolder>
              <RegistryValue
                Root="HKLM"
                Key="Software\Baijimu\BridgeAgent"
                Name="SharedDataDirectory"
                Type="string"
                Value="[BridgeAgentDataDir]"
                KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
